.artistSection {
  position: relative;
  grid-area: artistSection;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  /* border: 1px solid orange; */
  padding: 10px 0px 0px 0px;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  z-index: 1;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.artistSectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  /* border: 1px solid green; */
  padding: 0px 0px 0px 20px;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#artistSectionHeaderCountText {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 600;
  margin: 4px 0px 0px 20px;
  color: gray;
  /* border: 1px solid green; */
}

#artistSectionHeaderText {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.artistBoxWrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 85%;
  overflow-x: scroll;
  overflow-y: hidden;
  /* border: 1px solid red; */
  z-index: 2;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* display: none; */

.artistBoxWrapper::-webkit-scrollbar {
  display: none;
  background-color: rgba(255, 255, 255, 0);
  height: 4px;
  width: 5px;
}

.artistBoxWrapper::-webkit-scrollbar-track {
  background-color: rgb(231, 228, 228);
  background-color: rgba(231, 228, 228, 0.062);
  width: 2px;
}

.artistBoxWrapper::-webkit-scrollbar-thumb {
  background-color: #860d8663;
  border-radius: 4px;
}

.artistBox {
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: white; */
  width: 150px;
  min-width: 150px;
  /* height: 200px; */
  height: 100%;
  margin: 0px 5px 0px 5px;
  margin: 0px;
  /* border: 1px solid green; */
  /* border-radius: 15px 15px 0px 0px; */
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 60%;
  /* aspect-ratio: 1/1.1; */
  /* overflow: hidden; */
  /* border: 1px solid orange; */
  background-color: #b899b8;
  -webkit-box-shadow: -3px 7px 27px -10px rgba(99, 96, 99, 0.99);
  -moz-box-shadow: -3px 7px 27px -10px rgba(99, 96, 99, 0.99);
  box-shadow: -3px 7px 27px -10px rgba(99, 96, 99, 0.99);
  border-radius: 15px;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

#artistArtImg {
  display: flex;
  position: relative;
  height: 90%;
  width: 95%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
}

#imgText {
  font-family: "Poppins", sans-serif;
  font-size: 75px;
  font-weight: 600;
  margin: 4px 0px 0px 20px;
  color: slategray;
  transform: translateX(-12px);
  color: transparent;
  -webkit-text-stroke: 2px #860d8663;
  text-stroke: 2px #860d8663;
}

.noImg {
  display: none !important;
}

.albumArtistNameContainer {
  display: flex;
  width: 100%;
  height: 20%;
  /* border: 1px solid black; */
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px 0px 0px 0px;
  padding-left: 15px;
}

#albumNameText {
  width: 100%;
  height: 50%;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 650;
  letter-spacing: 0.3px;
  backface-visibility: hidden;
  box-orient: vertical;
  -moz-box-orient: vertical;
  /* Mozilla */
  -webkit-box-orient: vertical;
  /* WebKit */
  display: box;
  display: -moz-box;
  /* Mozilla */
  display: -webkit-box;
  /* WebKit */
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  overflow: hidden !important;
  /* border: 1px solid black; */
}

#artistNameText {
  width: 100%;
  height: 50%;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 450;
  letter-spacing: 0.3px;
  color: slategray;
  /* border: 1px solid black; */
}

.scrollBtnContainer {
  /* border: 1px solid black; */
  width: 90px;
  height: 90%;
  margin: 0px 5px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.srcollIconDiv {
  /* border: 1px solid black; */
  width: 25px;
  height: 75%;
  margin: 0px 8px 0px 8px;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 8px -3px 49px -12px rgba(92, 94, 102, 1);
  -moz-box-shadow: 8px -3px 49px -12px rgba(92, 94, 102, 1);
  box-shadow: 8px -3px 49px -12px rgba(92, 94, 102, 1);
  cursor: pointer;
}

.iconify-icon {
  width: 100%;
  height: 100%;
  color: slategray;
  /* border: 1px solid black; */
}