.searchWrapper {
  position: absolute;
  width: 95%;
  height: 250px;
  background-color: rgb(255, 255, 255);
  /* background-image: linear-gradient(0deg, #eee4ee 41%, #f9ebe4 84%); */
  top: 10%;
  right: 0%;
  margin: 0px auto 0px auto;
  left: 0px;
  z-index: 3;
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0px 10px 10px;
  overflow-y: scroll;
  -webkit-box-shadow: -7px -3px 33px -20px rgba(99, 96, 99, 0.99);
  -moz-box-shadow: -7px -3px 33px -20px rgba(99, 96, 99, 0.99);
  box-shadow: -7px -3px 33px -20px rgba(99, 96, 99, 0.99);
  border-radius: 8px;

  /* border-left: 1px solid rgba(73, 71, 71, 0.062);
  border-right: 1px solid rgba(73, 71, 71, 0.062);
  border-bottom: 1px solid rgba(73, 71, 71, 0.062); */
}
.searchWrapper::-webkit-scrollbar {
  display: none;
}